html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body{
	padding-top: 200px;
}
.calendertxt{
	margin: 10px;
	padding: 0px;
}
.row{
	margin: 0px;
	padding: 0px;
}

.button{
	margin:10px;
	padding:0px;
}
#data{

	.axis text{
      font: 1px sans-serif;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }
}

.form-control{
	display: block;
	width:80%;
	height:34px;
	padding:6px 12px;

}