html {
	font-family: 'Bree Serif',sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body{
	padding-top: auto;
	background: url(../resources/img/xv.png) repeat 0 0;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Bree Serif',sans-serif;
}
p,div{
	font-family: 'Bree Serif',sans-serif;
}
.allcontainer{
	margin-top:auto;
	margin-left:20%;
	margin-right:20%;
	margin-bottom:5%;
	padding-top:0px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
	background: url(../resources/img/containerback.png) repeat 0 0;
}
.calendertxt{
	margin: 10px;
	padding: 0px;
}
.form-group{
	margin-right:45%;
	margin-left:20px;
}
.row{
	margin: 0px;
	padding: 0px;
}

.button{
	margin:10px;
	padding:0px;
}
#data{
	.axis text {
	  font: 10px sans-serif;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

	.x.axis path {
	  display: none;
	}
}
svg{
    margin-top: 30px;
}
.form-control{
	display: block;
	width:80%;
	height:34px;
	padding:6px 12px;

}

#submit{
	background-color: #46E666;
	padding-left:15px;
	padding-right: 15px;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stoke-opacity: .5;
}

.land {
    fill: #222;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}
