html {
	font-family: 'Bree Serif',sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body{
	
	
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Bree Serif',sans-serif;
}
p,div{
	font-family: 'Bree Serif',sans-serif;
}

.container{
	margin:auto;
	margin-top:5%;
}